@{
    ViewData["Title"] = "Home Page";
}

<div class="row align-items-center">
    <div class="col-md-12" style="height:100% ">
        <img style=" width:100%"  src="~/images/wheel-anime-to-do-final.gif" />
        <h3 style="text-align:center; font-family:'Courier New'; font-weight:800" >Fortune favors the bold!!! You should try it ;)</h3>
    </div>
</div>
