@{
    ViewData["Title"] = "Home Page";
}

<div class="row align-items-center">
    <div class="col-md-12" style="height:100% ">
        <img style=" width:100%"  src="~/images/wheel-anime-to-do-final.gif" />
    </div>
</div>
