@model WheelOfFortune.Models.AdminCoupon

@{
    ViewData["Title"] = "Revoke Coupon";
}

<h2>Revoke</h2>

<h4>AdminCoupon</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for ="User" class="control-label">Are you sure you want to revoke the coupon?</label>
                <input type="submit" value="Revoke" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
