@model WheelOfFortune.Models.AdminCoupon
@{
    ViewData["Title"] = "Revoke";
}
<h2>Revoke</h2>
<h3>Are you sure you want to revoke this?</h3>
<div>
    <h4>AdminCoupon</h4>
    <hr />
    <dl class="dl-horizontal"></dl>

    <form asp-action="Edit">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Revoke" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
